h1 {
  font-size: 30pt;
  margin-left: 10%;
  margin-top: 5%;
}
#bar {
  height: .5em;
  width: 90%;
  float: right;
  animation: widen 1.5s ease;
  -webkit-animation: widen 1.5s ease;
  background-color: black;
}

#overlay {
  background-color: white;
  opacity: 0%;
  width: 0%;
  height: 500em;
  animation: trans 1s ease;
  -webkit-animation: trans 1s ease;
  position: absolute;
}

html {
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.projectgrid {
  flex-wrap: wrap;
  display: flex;
  width: 85%;
  margin-left: 10%;
  margin-top: 5%;
}

.projcolumn {
  max-width: 30%;
  flex: 20%;
}

.proj {
  transition: .5s ease;
  vertical-align: middle;
  overflow: hidden;
}

.proj a {
  width: 100%;
}

.proj img {
  max-width: 95%;
  opacity: 85%;
  transition: .25s ease;
  z-index: 3;
  border-radius: 10px;
}

.proj img:hover {
  max-width: 98%;
  opacity: 100%;
  transition: .5s ease;
}


.more p {
  font-size: 10pt;
}

.info {
  background-color: white;
  position: relative;
  margin: 5% 20% auto auto;
  padding: 2em 2em 3em 1em;
  width: 65%;
  border-radius: 10px;
  box-shadow: 0em .25em .5em .1em rgb(0, 0, 0, .25);
}

.info h3 {
  margin-right: 10%;
  text-align: right;
  font-size: 30pt;
  font-weight: 100;
}

.info .light {
  border-color: #aaa;
   box-shadow: 0 2px 10px rgba(0,0,0,0.25);
}

.out {
  position: absolute;
  display: none;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  transition: opacity 1s;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  height: 500em;
}
.overlay .light {
    background: rgba(255,255,255,0.5);
  }

.overlay:target {
    visibility: visible;
    opacity: 1;
  }

/*.cancel {
   position: absolute;
   width: 100%;
   height: 100%;
   cursor: default;
   z-index: 2;
 }*/

 .cancel {
   text-decoration: none;
   font-weight: 900;
   font-size: 14pt;
   float: right;
   position: fixed;
   margin-left: 70vw;
   color: white;
 }

 .cancel:target {
   visibility: visible;
   opacity: 1;
 }

#backarrow {
  position:absolute;
  top: 1em;
  left: 1em;
  text-decoration: none;
  font-size: 36pt;
  font-weight: 700;
  opacity: 50%;
  color: black;
  transition: .25s;
  animation: appear 2s;
}

#backarrow:hover {
  opacity: 100%;
  transition: .25s;
}

.more div .flexed {
  flex: 100%;
}


.more .flexer, .more div .flexer {
  display: block;
  flex: 25%;
}

.more .fleexbig {
  max-width: 85%;
  margin: auto;
}

.fleexbig img {
  width: 100%;
}

.more .fleex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 85%;
  margin: auto;
}

.more .allflex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 85%;
  margin: auto;
}

.icons {
  display: flex;
}
.icons img {
  margin: 0 10px;
}

.top, .bottom {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top > div:nth-child(1) {
  flex: 25%;
  width: 25%;
}

.top >div:nth-child(1) img {
  width: 100%;
  margin-top: 5%;
}

.top > div:nth-child(2) {
  width: 30%;
  margin-left: 5%;
}

.more > div {
  max-width: 90%;
  margin: auto;
}

.more > div > img {
  width: 100%;
}

.top {
  margin: auto;
}

.bottom {
  margin: auto;
  margin-top: 5vh;

}

.bottom img {
  flex: 30%;
  max-width: 30%;
  align-self: center;
}

.bottom .web:nth-child(2) {
  flex: 20%;
  max-width: 20%;
  margin-left: 5%;
}

.bottom .web:nth-child(1) {
  flex: 65%;
  max-width: 75%;
}


@keyframes widen {
  0% {
    width: 0%;
  }
  75% {
    width: 92%;
  }
  100% {
    width: 90%;
  }
}
@keyframes trans {
  0% {
    opacity: 100%;
    width: 100%;
  }
  98% {
    opacity: 0%;
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

@keyframes appear {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
  }
}

@-webkit-keyframes widen {
  0% {
    width: 0%;
  }
  75% {
    width: 92%;
  }
  100% {
    width: 90%;
  }
}
@-webkit-keyframes trans {
  0% {
    opacity: 100%;
    width: 100%;

  }
  98% {
    opacity: 0%;
    width: 100%;
  }
  100% {
    width: 0%;
  }
}
@-webkit-keyframes appear {
  0% {
    opacity: 0%;
  }
  75% {
    opacity: 0%;
  }
  100% {
    opacity: 50%;
  }
}

@media (max-device-width: 480px) {
  .projectgrid {
    display: block;
    flex-wrap: nowrap;
    margin-top: 3em;
  }

  .more div img {
    border-radius: 0;
  }

  #backarrow {
    position: static;
    margin-left: 10%;
    width: .5em;
  }
}

/*modular images*/

.helloworldgif {
  width: 65%;
  height: 50vh;
  margin-right: 2vw;
}

.helloworldgif > div {
  background-image: url("../organizational/hello/helloworld.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.foodcollectgif {
  max-width: 65%;
  height: 50vh;
  margin-right: 2vw;
}

.foodcollectgif > div {
  background-image: url("../organizational/food/foodsite.gif");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

.clemnightsgif > div {
  background-image: url("../personal/clemnights/clemnightsmobile.gif");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}
