#backarrow {
  font-size: 5em;
  font-weight: 900;
}

.projcolumn {
  max-width: 90%;
}

.info {
  width: 85%;
  margin: 3em auto;
}

.more div * {
  display: block;
  max-width: 100%;
  width: 90%;
}

.more img {
  width: 100%;
}

.cancel {
  font-size: 3em;
  font-weight: bold;
}

.more p, .more a {
  font-size: 2em;
  margin: 1em auto;
}

.more div .flexed {
  flex: 32%;
  max-width: 32%;
}

.more .fleex {
  display: block;
  margin: auto;
}

.more .flexer, .more div .flexer {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  justify-content: space-between;
}

.more div .icons {
  display: none;
}

/*modular images */


.helloworldgif {
  width: 65%;
  height: 50vh;
}

.helloworldgif > div {
  background-image: url("../organizational/hello/helloworldmobile.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.foodcollectgif {
  max-width: 65%;
  height: 50vh;
}

.foodcollectgif > div {
  background-image: url("../organizational/food/foodsitemobile.gif");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

.clemnightsgif {
  max-width: 65%;
  height: 50vh;
}

.clemnightsgif > div {
  background-image: url("../personal/clemnights/clemnightsmobile.gif");
  background-size: contain;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

.more .sanitizeshirt {
  display: none;
}
